#experience {

    .info-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info-dates {
            font-size: 1em;
        }

        @media(max-width:767px) {
            .info-dates {
                font-size: 0.75em;
            }
        }
    }

    a,
    a.active,
    a:active,
    a:focus,
    a:hover {
        text-decoration: underline;
    }
}