// Styling for the masthead
header.masthead {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background: $secondary-colour;

    img {
        display: block;
        margin: 0 auto 20px;
    }

    .intro-text {
        .name {
            font-family: 'Noto Serif','Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 4em;
            font-weight: 400;
            display: block;
        }

        .skills {
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 1.25em;
            font-weight: 300;
        }
    }

    hr {
        background-color: white;
    }
}
@media(min-width:768px) {
  header.masthead {
    padding-top: 250px;
    padding-bottom: 200px;
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}
